/* Typographie */
@font-face {
  font-family: "Proxima-Nova" ;
  src: url(Font/Proxima\ Nova\ Font.otf);

  font-family: "Work-sans_regular";
  src: url(Font/WorkSans-Regular.ttf);

}


p{
  font-size: 14px;
  font-weight: 100;
}



body {font-family: "Work-sans_regular";}
header {font-family: "Proxima-Nova";}


/* Mise en page */




/* Header */
header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-align: center;
    font-size: 13px;
    background-color: #4E443C;
    margin-bottom: 60px
  
  }


  
.Navigation{

display: flex;
flex-direction: row;
justify-content: space-around;


}



.TopNav{
  
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    margin-left: 100px;
    justify-content: center;
  

    }
  

.TopNav p{

  margin-left: 15px;
  margin-right: 15px;
  font-family: "Proxima-Nova" ;
  gap: 8rem;

}


.TopNav a {
  color: white;
  text-decoration: none;
}



.Petits_logos{
  width: 30vw;
  display: flex;
  justify-content: center;
}

.Petits_logos_header img{
  width: 2vw;
  
  }

.Petits_logos_header{
    width: 2vw;
  }


.Logo_vert {
   width: 20vw;
   justify-content: center;
   margin-right: 100px;

  }


.Logo_vert img{
width: 30%;

}




  /* Main mise en page */


.Main_box{

  margin-right: 120px;
  margin-left: 120px;
  display: flex;
 flex-direction: row;
}

.Main{
margin-bottom: 5rem;

}



.Main_image img {
  max-width: 80%;


}


.Learn_more img{
  margin-top: 30px;
  width: 20%;
   
}

h3{
  font-size: xx-large;
  font-weight: 1000;
  margin-bottom: 40px;
}


 /* Footer mise en page */

 .footer{
  padding: 10px;

 }

 .footer-logo p{
  margin-top: 2rem;
 }

.footer_partie1{

display: flex;
flex-direction: row;
margin-right: 120px;
margin-left: 120px;
margin-bottom: 60px;
margin-top: 60px;
justify-content: center;
gap: 5rem;
}



.Footer_Partie2{

  display: flex;
  flex-direction: row;
  margin-right: 120px;
  margin-left: 120px;
  justify-content: space-between;
  margin-bottom: 2rem;
}


 footer p {

  color: white;
 }

 .line {

  margin-right: 120px;
  margin-left: 120px;
 }

 .Service_title{
  font-weight: bold;
 }
  

 .About-us_Title{
  font-weight: bold;

 }

 .Recent_work_title{
  font-weight: bolder;
 }


  .footer{

    background-color: #201F1D;


  }

  .footer a {

    color: white;

  }
  

.Recent-work{

display: flex;
max-width: 30%;

}

.Photos_recent-work{
  display: flex;
 
}

.Photos_recent-work img {

  width: 10%;
  height: 10%;
  margin: 1rem;
  display: inline;
  position: relative;
  

}


.Footer-logos img{
  width: 4%;
  margin: 7px;
 
}


.Created-with-love{

  justify-content: center;
}

.Footer-logos{

  flex-direction: end;
  justify-content: end;

  

}